/*Layout Rules*/
header h1 {
    width: 100%;
    height: 50px;
    padding: 75px 0px 0px 0px; /*TRouBLe*/
    margin: 0;
    margin-bottom: 10px;
}
/* When I move the browser to make it smaller my first and last name cram on top of each other and I can't figure out how to fix it*/

header h2{
    width: 100%;
    padding: 0;
    padding: 0px 0px 0px 0px;
    margin-top: 0;
}

nav {
    float: left;
    margin-top: 12px;
    width: 100%;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

nav li{
    display:inline;
    margin: 0 5% 0 5%;
    padding: 5px;
}

aside{
    background-color: #ffffff;
    float: left;
    margin: 0 0 10px 5%;
    width: 20%;
}

li{
padding: 0;
margin: 0;
}

.bullet {
    list-style-type:circle;
}

article h1{
float:left;
width: 100%;
padding: 10px;
margin: 5px;
}

article h2{
float: left;
width: 100%;
padding: 10px;
margin: 5px;
}

article h3{
    float: left;
    width: 100%;
    padding: 10px;
    margin: 5px;
}

article h4{
    float: left;
    width: 100%;
    padding: 10px;
    margin: 5px;
}

article{
    float: left;
    padding: 10px;
    margin: 5px;
    width: 100%;
}


/*I would like the aside to be flush left on the resume page with the body of the article to be next to it on the right but I can't figure out how to do it*/

article {
    clear: both;
    padding: 0 10px 0 10px;
    width: 100%;
}

article li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.contact{
    padding-left: 30%;
    padding-right: 30%;
}

footer {
    float: left;
    width: 100%;  
    padding: 0 10px 0 10px;
}

footer nav{
    float: left;
    width: 75%
}

footer p{
    width: 25%;
    float: right;
}

/*Font and Background Color Rules*/
body {
    font-family:"Century Gothic", "Avante Garde", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.bold {
font-weight:800;
}

.italics{
font-style: italic;
font-weight:500;    
}

header h1 {
    font-size: 70px;
    font-weight: 600;
    color: #652C90;
    background-color: #ffffff
}

header h2 {
    font size: 50px;
    font-weight: 600;
    color: #652C90;
}

header nav{
    background-color: #262261
}

nav li {
    color: #ffffff
}

header a{
color: #ffffff;
}

article h1{
    font-size: 40px;
    font-weight:600;
    line-height: 50px;
    color: #652C90;
}

article h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    color: #262261;
}

article h3{
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: #652C90;
}

article h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #262261;
}
/*article p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 4px;
    float: left;
    color: #000000;
}*/

footer{ 
    background: #262261;
    background-color: #262261;
    font-size: 12px;
}

footer nav {
    background-color: #262261;
}

footer p {
    background-color: #262261;
    color: #ffffff
}

/*Link Rules*/

nav a {
    color: #ffffff;
}

nav a: hover{
    color: #652C90;
}

/*Image Rules*/
/*I am unsure if the hover is working because it will not show me in my brakets preview and I do not know how to preview in github*/

header img {
    float: left;
    margin: 0 1% 0 1%;
    padding: 5px; /*Trouble*/
    width: 20%;
}

figure{
float: left;
width: 40%;
}

article img{
    margin: 10px;
    width: 100%%;
}

figcaption {
float: left;
font-size: 10px;
line-height:12px
}

ul img {
   float: none;
    width: 5%;
    margin:0;
}



